<p id="notice"><%= notice %></p>

<p>
  <strong>distance:</strong>
  <%= @beacon.distance %>
</p>

<p>
  <strong>Hex:</strong>
  <%= @beacon.uuid %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
