<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 style="text-align:center">PLANTA CELAYA</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="tabbable" id="tabs-425382">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab1" data-toggle="tab">Todos</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">Patio chatarra 1</a>
          </li>
          <li>
            <a href="#tab3" data-toggle="tab">Patio chatarra 2</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Matricula</th>
                  <th>Fecha de entrada</th>
                  <th>Días de retraso</th>
                  <th>Localización</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                <% @gondola.each do |g| %>
                <tr>
                  <td><%= g.id %></td>
                  <td><%= g.plate %></td>
                  <td><%= g.created_at %></td>
                  <td><%= g.days_late %></td>
                  <td><%= g.last_location %></td>
                  <td><%= g.sort %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab2">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Matricula</th>
                  <th>Fecha de entrada</th>
                  <th>Días de retraso</th>
                  <th>Localización</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                <% @gondola.each do |g| %>
                  <% if g.last_location == "Patio Chatarra 1" %>
                <tr>
                  <td><%= g.id %></td>
                  <td><%= g.plate %></td>
                  <td><%= g.created_at %></td>
                  <td><%= g.days_late %></td>
                  <td><%= g.last_location %></td>
                  <td><%= g.sort %></td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab3">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Matricula</th>
                  <th>Fecha de entrada</th>
                  <th>Días de retraso</th>
                  <th>Localización</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                  <% @gondola.each do |g| %>
                  <% if g.last_location == "Patio Chatarra 2" %>
                <tr>
                  <td><%= g.id %></td>
                  <td><%= g.plate %></td>
                  <td><%= g.created_at %></td>
                  <td><%= g.days_late %></td>
                  <td><%= g.last_location %></td>
                  <td><%= g.sort %></td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div style="text-align:center"><%#= image_tag "mapa.png" %> <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zQkJhYh0BJAo.kX8EioYNqjfE" width="600" height="480"></iframe></div>
    </div>
  </div>
</div>
