<p id="notice"><%= notice %></p>

<h1>Listing Gondollas</h1>

<table>
  <thead>
    <tr>
      <th>Plate</th>
      <th>Last location</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gondollas.each do |gondolla| %>
      <tr>
        <td><%= gondolla.plate %></td>
        <td><%= gondolla.last_location %></td>
        <td><%= gondolla.type %></td>
        <td><%= link_to 'Show', gondolla %></td>
        <td><%= link_to 'Edit', edit_gondolla_path(gondolla) %></td>
        <td><%= link_to 'Destroy', gondolla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gondolla', new_gondolla_path %>
